.book-img {
  height: 250px;
  object-fit: cover;
}

.book-card {
  transition: transform 0.3s ease;
  text-align: center;

}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.sidebar {
  background-color: #7a00c5;
  padding: 20px;
  border-radius: 10px;
  color: white;
  position: fixed;
  
  left: 0px;
  width: 200px;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.sidebar h5 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2rem;
}

.sidebar .nav-link {
  padding: 8px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  margin-left: 30px;
}

.sidebar .nav-link:hover {
  color: #6f42c1;
}

.search-bar {
  margin-top: 20px;
}

.search-input {
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid #ced4da;
}


