.logo{
  margin-left: 20px;
  width: 60px;
  margin-top: 5px;
}

#nav{
  width: 90%;
  height: 50px;
  margin: auto;
  background: linear-gradient(to right, #AF1FD3,#2B0735);
}

.btn-dark {
  background-color: #AF1FD3;
  color: white;
  border: none;
}
.btn-dark:hover {
  color: white;
}

#nav .navbar-nav .nav-link {
  color: white !important;
}

#nav .navbar-nav .nav-link:hover {
  color: lightseagreen !important;
}

#nav .navbar-nav .nav-link.active {
  color: lightseagreen !important;
  font-weight: bold;
}
