.text-purple {
  color: #6f42c1;
}

.btn-purple {
  background-color: #6f42c1;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #5a32a3;
}
.container3{
    margin-left: 100px;
    margin-top: 80px;
}
